DB_HOST=localhost
DB_NAME=plant_db
DB_USER=root
DB_PASS=""
JWT_SECRET=ugaoo_premium_gardening_secret_key_987654321
RAZORPAY_KEY_ID=rzp_test_w3hP8z2jN1245A
RAZORPAY_KEY_SECRET=secret_key_from_razorpay
